.specText {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.enterText {
    padding-right: 20px;
    font-size: 30px;
}

.file-input{
    text-align: center;
    font-size: 30px;
    /*margin-left: 100px;*/
}

.image-canvas{
    width: 100%;
    height: 100%;
    border: 1px solid #222222;
    display: table;
    text-align: center;
    line-height: 300px;
    vertical-align: middle;
}